<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/registerForm.css}"/>
</head>

<body>
<section class="vh-100 bg-image"
  style="background-image: url('https://wallpapercave.com/wp/wp4528670.jpg');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border: none; background-color: transparent;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5 "style="color:#1e4baf;">Register here</h2>
              <form  action="#" th:action ="@{/registration/save}" id="form-group" class="form-group"
              					th:object="${user}" method="POST">

                <div class="form-outline mb-4"  >
                 
                  <input type="text" th:field="*{firstName} "id="form3Example1cg" class="form-control form-control-lg" placeholder = "First Name" required />
                </div>

                <div class="form-outline mb-4">
                  <input type="text" th:field="*{lastName}" id="form3Example3cg" class="form-control form-control-lg" placeholder = "Last name" />
                </div>
                
                 <div class="form-outline mb-4">
                  <input type="password" th:field="*{password}" id="password" class="form-control form-control-lg " placeholder = "Password" required onkeyup="validateForm();"/>
                  <span id = "message1" style="color:red"> </span> 
                  <span id="UniqueID"></span> 
                  
                </div>
                
                 <div class="form-outline mb-4">
                  <input type="password" id="confirmpassword" class="form-control form-control-lg" placeholder = "Re-enter Password" />
                  <span id = "message2" style="color:red"> </span>  
                  
                </div>
                
                <div class="form-outline mb-4">
                  <input type="email" th:field="*{email}" id="form3Example3cg" class="form-control form-control-lg" placeholder = "Email" required/>
                </div>
                
                 <div class="form-outline mb-4">
                  <input type="text" th:field="*{contactNo}" id="form3Example3cg" class="form-control form-control-lg" placeholder = "Mobile-no" required/>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-primary " >SignUp</button>
                </div>

                <p class="text-center mt-5 mb-0" style="color:white;">Already have an account? <a th:href="@{/employees/list}"
                    class="fw-bold " style="color:white;"><u>login here</u></a></p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>  
function validateForm() { 
	//console.log("hiii")
    //collect form data in JavaScript variables  
    var pw1 = document.getElementById("password").value;  
    var pw2 = document.getElementById("confirmpassword").value;  
   console.log(pw1 +" "+pw2)
    //check empty password field  
   
    
    
    if(pw1 == "") {  
      document.getElementById("message1").innerHTML = "**Fill the password please!";  
      return false;  
    }  
      
     
    //minimum password length validation  
    if(pw1.length < 8) {  
      document.getElementById("message1").innerHTML = "**Password length must be atleast 8 characters";  
      return false;  
    }  
    
    //maximum length of password validation  
    if(pw1.length > 18) {  
      document.getElementById("message1").innerHTML = "**Password length must not exceed 15 characters";  
      return false;  
    }  
      
    else {  
    
    var T4Tutorials = new Array();
    T4Tutorials.push("[$@$!%*#?&]"); // Special Charector
    T4Tutorials.push("[A-Z]");      // Uppercase Alpabates
    T4Tutorials.push("[0-9]");      // Numbers
    T4Tutorials.push("[a-z]");     // Lowercase Alphabates
    var ctr = 0;
    for (var i = 0; i < T4Tutorials.length; i++) {
        if (new RegExp(T4Tutorials[i]).test(pw1)) {
            ctr++;
        }
    }
    // Display it
    var color = "";
    var strength = "";
    switch (ctr) {
        case 0:
        case 1:
        case 2:
            strength = "Very Weak in length";
            color = "blue";
            break;
        case 3:
            strength = "Medium";
            color = "pink";
            break;
        case 4:
            strength = "Strong";
            color = "gray";
            break;
    }
    document.getElementById("UniqueID").innerHTML = strength;
    document.getElementById("UniqueID").style.color = color;
    }
    if(pw1 != pw2) {
    	console.log("error")
      document.getElementById("message2").innerHTML = "**Passwords are not same";  
      return false;
    }
}

</script>  

</body>

</html>
