.form-control {
	border: none;
  width: 80%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}
.btn{
	border: none;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
 margin-right:20px;
  background-color: transparent;
  color: white;
}

/*.card-body form {
	background-color:rgba(0,0,0,.5);
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	margin:0 2rem
}*/
.card-body form {
	border-radius:10px;
	margin:0 1rem
}
.card-body input{
	width:100%;
}

.card-body input::placeholder{
	color:white;
}
.btn{
	color:white;
}
